<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 mt30-xs">
  <div class="services-box topReveal">
    <span class="pe-7s-phone services-icon"></span>
    <h3 class="service-name">2. Desktop Software</h3>
    <p class="text-small">Java / JavaFX, C++, Ruby, React-Native, Python, Swift, Objective-C and Swift, Bash and MIPS</p>
    <!--<button type="button" class="btn btn-default mt10" data-toggle="modal" data-target="#item2-services">Info</button>-->
  </div>
</div><!-- /.column -->
