<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 mt30">
  <div class="services-box leftReveal">
    <span class="services-badge badge">New</span>
    <span class="pe-7s-anchor services-icon"></span>
    <h3 class="service-name">4. Brand + Logo Development</h3>
    <p class="text-small">Logo Design and Brand Development, keeping your 'look' consistent across all your Blue Helmet Products. </p>
    <!--<button type="button" class="btn btn-default mt10" data-toggle="modal" data-target="#item4-services">Info</button>-->
  </div>
</div><!-- /.column -->
