<section id="contact" class="background2 section-padding">
  <div class="container">
    <div class="row mb30">
      <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 section-title text-center">
        <h2>Contact</h2>
        <span class="section-divider mb15"></span>
        <p class="no-margin scaleReveal">Give us a call, send us a text or write us an email to discuss how we can turn your dream into a reality! </p>

      </div><!-- /.column -->
    </div><!-- /.row -->
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 text-center">
        <h5 class="heading-1 mb20">Located</h5>
        <h4 class="mb15">New Haven, CT</h4>
	      <h5 class="heading-1 mb20">Contact</h5>
        <p class="mb5"><a href="mailto:blue.helmet.software@gmail.com">blue.helmet.software@gmail.com</a></p>
        <p class="mb5"><a href="tel:203-296-3151">+1 (203) 296-3161</a></p>
      </div><!-- /.column -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.section -->