<form action='http://somewebsite.com/endoint' method="GET">

  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <div class="controls">
          <input type="text" name="subject">
          <div class="help-block with-errors"></div>
        </div>
      </div>
    </div><!-- /.column -->
    <div class="col-sm-6">
      <div class="form-group">
        <div class="controls">
          <input type="text" name="phone">
        </div>
      </div>
    </div><!-- /.column -->
  </div><!-- /.row -->
  <div class="row mb10">
    <div class="col-sm-6">
      <div class="form-group">
        <div class="controls">
          <input type="text" name="name">
          <div class="help-block with-errors"></div>
        </div>
      </div>
    </div><!-- /.column -->
    <div class="col-sm-6">
      <div class="form-group">
        <div class="controls">
          <input type="text" name="email">
          <div class="help-block with-errors"></div>
        </div>
      </div>
    </div><!-- /.column -->
  </div><!-- /.row -->
  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
        <div class="controls">
          <input type="text" name="content">
          <div class="help-block with-errors"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt15">
    <div class="col-sm-6">
      <div id="msgSubmit" class="h4 hidden mt10 no-margin-bottom"></div>
    </div><!-- /.column -->
    <div class="col-sm-6 text-right">
      <button type="submit" clas"btn btn-default btn-lg">Send us your message!</button>
    </div><!-- /.column -->
  </div><!-- /.row -->
<% end">