<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 mt30">
  <div class="services-box bottomReveal">
    <span class="pe-7s-users services-icon"></span>
    <h3 class="service-name">5. Digital + Print Marketing Products</h3>
    <p class="text-small">We can put your logo on anything you can think of..</p>
    <!--<button type="button" class="btn btn-default mt10" data-toggle="modal" data-target="#item5-services">Info</button>-->
  </div>
</div><!-- /.column -->
