<!--myLargeModalLabel-->
<div class="modal fade akmemorial-modal" tabindex="-1" role="dialog" aria-labelledby="akmemorial-modal">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			We have a modal
		</div>
	</div>
</div>