<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 mt30">
  <div class="services-box rightReveal">
    <span class="services-badge badge">New</span>
    <span class="pe-7s-volume services-icon"></span>
    <h3 class="service-name">6. Photography</h3>
    <p class="text-small">Professional photographers ready to capture your best!
      Say Cheese!</p>
    <!--<button type="button" class="btn btn-default mt10" data-toggle="modal" data-target="#item6-services">Info</button>-->
  </div>
</div><!-- /.column -->
<!-- Item 6 Modal -->
