<!-- Services -->
<div id="our-process">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4 col-md-4 col-lg-4 process-box text-center pt50 pb50">
        <div class="leftReveal">
          <div class="process-intro">
            <h3 class="process-number">01-Meet</h3>
            <div><span class="process-icons pe-7s-users rotateBottomReveal"></span></div>
            <h2>Meet<br></h2>
          </div>
          <div class="process-content">
            <div><span class="process-icons pe-7s-users"></span></div>
            <h2 class="mt15 mb20">Meet in <br>Person</h2>
            <p class="no-margin">Discuss your project, expectations and create a project plan for your budget.</p>
          </div>
        </div><!-- /.animation -->
      </div><!-- /.column -->
      <div class="col-sm-4 col-md-4 col-lg-4 process-box text-center pt50 pb50">
        <div class="bottomReveal">
          <div class="process-intro">
            <h3 class="process-number">02-Dev</h3>
            <div><span class="process-icons pe-7s-diamond rotateBottomReveal"></span></div>
            <h2>Code<br></h2>
          </div>
          <div class="process-content">
            <div><span class="process-icons pe-7s-diamond"></span></div>
            <h2 class="mt15 mb20">Write The<br> Code</h2>
            <p class="no-margin">We turn your dreams into code. Delivering your project in pre-planned phases, ensuring milestones are met and satisfaction is guaranteed.</p>
          </div>
        </div><!-- /.animation -->
      </div><!-- /.column -->
      <div class="col-sm-4 col-md-4 col-lg-4 process-box text-center pt50 pb50 no-border-right">
        <div class="rightReveal">
          <div class="process-intro">
            <h3 class="process-number">03-AD</h3>
            <div><span class="process-icons pe-7s-rocket rotateBottomReveal"></span></div>
            <h2>Marketing<br></h2>
          </div>
          <div class="process-content">
            <div><span class="process-icons pe-7s-rocket"></span></div>
            <h2 class="mt15 mb20">Social Media + Marketing Campaigns</h2>
            <p class="no-margin">Introduce your product to the world and drive users and revenue to your site!</p>
          </div>
        </div><!-- /.animation -->
      </div><!-- /.column -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</div><!-- /.div -->
<!-- End Our Process -->