<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 mt30-sm mt30-xs">
  <div class="services-box rightReveal">
	  <span class="services-badge badge">New</span>
	  <span class="pe-7s-camera services-icon"></span>
    <h3 class="service-name">3. Social Media</h3>
    <p class="text-small">
      We grow your following until you dominate the Social-Media landscape.<br>
      Just like the President.</p>
    <!--<button type="button" class="btn btn-default mt10" data-toggle="modal" data-target="#item3-services">Info</button>-->
  </div>
</div><!-- /.column -->
