<!-- Item 1 -  web -->
<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
  <div class="services-box leftReveal">
    <span class="pe-7s-airplay services-icon"></span>
    <h3 class="service-name">1. Web Development</h3>
    <p class="text-small">Ruby on Rails, Java, PHP, NodeJS, React, Ember. Frameworks like Bootstrap, Magento, Shopify, Wordpress
      <!--<button type="button" class="btn btn-default mt10" data-toggle="modal" data-target="#item1-services">Info</button>-->
  </div>
</div><!-- /.column -->