<div class="work work-modal fade" style="display: none" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
	<div class="modal-dialog modal-lg" role="document">
		<div id="work_modal_content" class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Modal title</h4>
			</div>
			
			<div class="modal-body">
				<iframe id="work_modal_iframe"></iframe>
			</div>
			
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		
		</div>
	</div>
</div>

<div class="modal fade" id="item4-services" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="ion-ios-close-empty"></span>
				</button>
				<span class="pe-7s-anchor services-icon-2"></span>
				<h4 class="service-title">Iconography</h4>
			</div>
			<div class="modal-body">
				<iframe id="work_modal_iframe"></iframe>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
